body{
	background-color: white;
	font-family: Arial;
}

.container{

	margin: 0 auto; /*centres the web page*/
	width: 0 auto;
	font-size: 100%;
	line-height: 1.5;
	position: relative;
  min-height: 100vh;
}

a{
	text-decoration: none;
	color: black;
	font-size: 12px;
}

a:hover{
	text-decoration: underline;
}

.footer-ul{
	display: flex;
	flex-wrap: wrap;
}

nav > ul > div{
	display: flex;
	flex-wrap: wrap;
}

nav > ul > div > li{
	margin: 20px 10px 0px 10px;
}

.top-nav-margin-left{
	float: left;
}

.top-nav-margin-right{
	float: right;
}

.user-profile{
	margin-top: 15px;
}

.center-main > section > div > p > span > a{
	color: blue;
}

.center-main > section > div > p{
	margin-top: 20px;
}

.center-main{
	text-align: center;
	display: flex;
	margin: auto;
}

.google-margin{
	margin-top: 200px;
	margin-bottom: 25px;
}

.center-main > section{
	margin: auto;
}

.center-main > section > div > div > form > input{
	width: 600px;
	height: 35px;
	border: 1px solid #e4e4e4;
	border-radius: 20px;
	margin-bottom: 30px;
}

.center-main > section > div{
	margin: 10px 0px;
}

.center-main > section > div > div > button{
	background-color: #f2f2f2;
	padding: 10px 5px;
	margin: 0px 5px;
	border: 1px solid #f2f2f2;
	border-radius: 5px;
}

.center-main > section > div > div > button:hover{
	border: 1px solid #e4e4e4;
}

footer > div{
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	padding: 10px 0px 10px 10px;
}

footer > nav{
	background-color: #f2f2f2;
}

footer > nav > ul > div > li{
	margin: 0px 10px;	
}

footer > nav > ul > div > li > a{
	color: #686770;	
}

footer{
	position: absolute;
  	bottom: 0;
  	width: 100%;
	height: 2.5rem;
	padding-bottom: 2.5rem; 
	background-color: #f2f2f2;
	color: #686770;
}