body{
	background-color: white;
}

.container{

	margin: 0 auto; /*centres the web page*/
	width: 0 auto;
	font-size: 100%;
	line-height: 1.5;
}

a{
	text-decoration: none;
	color: black;
	font-size: 12px;
}

a:hover{
	text-decoration: underline;
}

.footer-ul{
	display: flex;
	flex-wrap: wrap;
}

nav > ul > div{
	display: flex;
	flex-wrap: wrap;
}

nav > ul > div > li{
	margin: 20px 10px 0px 10px;
}

.top-nav-margin-left{
	float: left;
}

.top-nav-margin-right{
	float: right;
}

.user-profile{
	margin-top: 15px;
}

main > section > p > span > a{
	color: blue;
}

.center-main{
	text-align: center;
	display: flex;
	margin: auto;
}

.google-margin{
	margin-top: 200px;
	margin-bottom: 25px;
}

.center-main > section{
	margin: auto;
}

.center-main > section > div > div > form > input{
	width: 600px;
	height: 35px;
	border: 1px solid grey;
	border-radius: 20px;
	margin-bottom: 30px;
}

.center-main > section > div{
	margin: 10px 0px;
}